@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(229, 226, 226);
}
/* navbar */
nav {
    background-color: #d9c5b1ed;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    letter-spacing: 1px;
}

/* form container */

.form-container {
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #a39587;
    margin-top: 3rem;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 10px;
    width: 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
form p {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
label {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
input,
textarea {
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1rem;
}

textarea {
    min-height: 80px;
}

#post-btn {
    margin-top: 1rem;
    padding: 0.6rem;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #deaf6e;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#post-btn:hover {
    background-color: #755b35;
    color: white;
}

#blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem auto;
}
.post {
    width: 48%;
    padding: 2rem 3rem;
    margin-bottom: 1.5rem;
    background: #d9c5b1c2;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .post {
        width: 100%;
    }
    .form-container {
        justify-content: center;
    }

    form {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.post > h3 {
    text-transform: uppercase;
    line-height: 1.1em;
}
